.todo-list li .saved, .todo-list li .local {
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 20px;
    margin-bottom: 1px;
}
.todo-list li .saved:after {
    content: '\1f4be';
}

.todo-list li .local:after {
    content: '\1f504';
}

.todoapp h1 {
    color: rgba(175, 47, 47, 0.65);
    right: 100px;
    font-size: 60px;
    top: -120px;
}

.speech-bubble:after {
    content: none;
}

@media (max-width: 899px) {
	.learn-bar {
		padding-left: 10px;
	}

	.learn-bar > .learn {
		position: initial;
		width: 100%;
	}
}
.installButton {
    display: none;
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: -73px;
}

.installButton:before {
    content: '\21E9';
    margin-right: 5px;
}

.is-visible {
    display: block;
}